{{ define "csat-widget" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/public/static/csat-widget.css" rel="stylesheet" type="text/css" />
    <script defer src="/static/public/static/csat-widget.js"></script>
</head>
<body>
    <div id="csatWidget" data-csat-uuid="{{ .Data.CSAT.UUID }}">
        {{ if .Data.CSAT.Responded }}
        <p class="done visible">{{ L.T "globals.messages.thankYou" }}</p>
        {{ else }}
        <div class="stars" id="stars">
            <span class="star" data-score="1">&#9733;</span>
            <span class="star" data-score="2">&#9733;</span>
            <span class="star" data-score="3">&#9733;</span>
            <span class="star" data-score="4">&#9733;</span>
            <span class="star" data-score="5">&#9733;</span>
        </div>
        <p class="done" id="done">{{ L.T "globals.messages.thankYou" }}</p>
        {{ end }}
    </div>
</body>
</html>
{{ end }}
